---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features from '~/components/widgets/Features.astro';
import { contactEmail } from '~/utils/globals';

const metadata = {
  title: 'Tom Seifert - Freelancer',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <Hero
    id="hero"
    title="Tom Seifert"
    actions={[{ variant: 'primary', target: '_blank', text: 'Contact me', href: `mailto:${contactEmail}` }]}
  >
    <Fragment slot="tagline">
      Freelancer for app development
      <br />
      M.Sc. in Computer Science
    </Fragment>

    <Fragment slot="subtitle">
      I develop your app professionally and customised - either as a native Android app or cross-platform with Kotlin
      and Compose Multiplatform. I rely on the latest standards and a high level of quality: my goal is to realise the
      best possible solution for you.
      <br /><br />
      With the act like an owner approach, I take responsibility for every detail in order to realise your vision in the
      best possible way. See for yourself in our next joint project!
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/tpseifert',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'GitHub',
          href: 'https://github.com/Syex',
        },
      },
      {
        icon: 'tabler:brand-medium',
        callToAction: {
          target: '_blank',
          text: 'Blog',
          href: 'https://medium.com/@Syex',
        },
      },
    ]}
    image={{
      src: '~/assets/images/chilled_cropped.jpg',
      alt: 'Tom Seifert',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Get to know me!</h2>
      <p>
        With over a decade of experience in Android and app development, I offer extensive expertise in creating,
        maintaining and optimising mobile applications. As an Android developer, I have successfully managed projects
        for renowned companies such as JAKALA Germany GmbH and Zalando Payments GmbH, developing innovative solutions
        and creating complex libraries and enterprise apps with millions of users.
      </p>
      <br />
      <p>
        My broad knowledge of technologies such as Kotlin, Jetpack Compose, Coroutines and Kotlin Multiplatform,
        combined with my experience in iOS and backend development, enables me to design and implement high quality and
        maintainable software architectures. I am also experienced in using CI/CD pipelines and test automation (unit
        tests, UI tests, screenshot tests).
      </p>
      <br />
      <p>
        I look forward to assisting you with your next project and working with you to make your mobile application a
        success.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Features
    id="quick-facts"
    title="Quick facts"
    subtitle=""
    columns={2}
    items={[
      {
        title: 'Professional experience',
        description:
          'I started software development in 2011 and worked alone, in small teams and in enterprise companies.',
      },
      {
        title: 'App development experience',
        description: "I'm working on mobile apps for over 12 years.",
      },
    ]}
  />

  <Features
    id="services"
    title="My services"
    subtitle="Besides app development, I support you in all areas of software development and project management."
    columns={4}
    items={[
      {
        title: 'App development',
        description:
          'Professional & high quality development of your native Android app according to modern standards. Also cross-platform with Compose or Kotlin Multiplatform.',
        icon: 'tabler:brand-android',
      },
      {
        title: 'Consulting & Analysis',
        description:
          'Consulting around the topic of mobile apps. I am also happy to support you with feasibility studies or inspect the quality of existing code.',
        icon: 'tabler:messages',
      },
      {
        title: 'Technical Leadership',
        description: 'I can help you with project planning, ticketing, or leading and mentoring your existing team.',
        icon: 'tabler:users',
      },
      {
        title: 'together to the next level',
        description: 'If desired, I contribute my own ideas and suggestions or design and optimize UI/UX of your app.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <Features3
    id="skills"
    title="Skills"
    subtitle="You're welcome to hear more about my experience in a personal conversation."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Android',
        description: 'Android SDK, Jetpack Compose, Gradle (Kotlin DSL), Jetpack libraries, Firebase, WearOS',
      },

      {
        title: 'Multiplatform',
        description: 'Kotlin Multiplatform (mobile & backend), Compose Multiplatform (Android, iOS, Desktop)',
      },
      {
        title: 'Programming languages',
        description: 'Kotlin (including Coroutines, Flow), Java, Swift, JavaScript',
      },
      {
        title: 'Testing',
        description:
          'JUnit 4 & 5, mocking frameworks, Kotlin Coroutine testing, Kotlin Flow testing (e.g. with Turbine), UI testing, screenshot testing, integration testing',
      },
      {
        title: 'Meta',
        description: 'git & gitflow, GitHub, GitLab, Bitbucket, Object-orientated programming, MVP, MVVM, MVI, Redux',
      },
      {
        title: 'Networking',
        description: 'REST (Retrofit & Ktor), GraphQL (Apollo), JSON',
      },
      {
        title: 'IDEs',
        description: 'Android Studio, IntelliJ, Xcode, VSCode, Fleet',
      },
      {
        title: 'Build & release',
        description: 'CI/CD, creating & maintaining pipelines, GitHub actions, Jenkins',
      },
      {
        title: 'Code style',
        description: 'Clean architecture, clean code, DRY, KISS, SOLID',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="experience"
    title="Work experience"
    items={[
      {
        title: 'Freelancer <br /> <span class="text-sm font-normal">since 2023</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Engineering Lead <br /> <span class="font-normal">Zalando Payments GmbH, Dortmund, Germany</span> <br /> <span class="text-sm font-normal">2022 - 2023</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Android Engineer <br /> <span class="font-normal">Zalando Payments GmbH, Dortmund, Germany</span> <br /> <span class="text-sm font-normal">2020 - 2022</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Android Developer <br /> <span class="font-normal">grandcentrix GmbH, Dortmund, Germany</span> <br /> <span class="text-sm font-normal">2017 - 2020</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Android Software Engineer <br /> <span class="font-normal">Zalando Payments GmbH, Dortmund, Germany</span> <br /> <span class="text-sm font-normal">2016 - 2017</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title: `Master of Science in Computer Science<br /> <span class="font-normal">Technical University of Dortmund</span> <br /> <span class="text-sm font-normal">2013 - 2016</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Science in Computer Science<br /> <span class="font-normal">Technical University of Dortmund</span> <br /> <span class="text-sm font-normal">2009 - 2013</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
</Layout>
